## .NET
bin/
obj/
*.user
*.suo
*.userprefs
.vs/
.vscode/
*.log

## Azure Functions
local.settings.json
__blobstorage__
__queuestorage__
__azurite_db*__.json

## Sensitive data
*.pfx
*.key
appsettings.*.json
!appsettings.json
!appsettings.Development.json

## OS
.DS_Store
Thumbs.db

## Database
*.mdf
*.ldf
